@import "tailwindcss";

@plugin "daisyui";

@theme {
  --color-primary: #632EE3;
  --color-secondary: #9F62F2;
  --color-dark : #001931;
  --color-gray : #627382;
  --color-green : #00D390;
  --color-orange : #FF8811;
  --font-inter : "Inter", sans-serif;
}